@import '../../scss/variables';

header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.header__content {
    display: flex;
    justify-content: center;
    gap: 5rem;

    h1 {
        color: $color-white;
    }
}

.header__right {
    width: 50%;
    height: 100%;
}

.header__left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__link {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;

    a {
        font-size: 1.5rem
    }

    &::after {
        content: '';
        width: 1px;
        height: 2rem;
        background: $color-primary;
    }
}

// .header__right {
//     background: linear-gradient($color-primary, transparant);
//     width: 40rem;
//     height: 30rem;

// }
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-size: 0.9rem;
    font-weight: 300;
}

/* -------Media queries Tablet devices ----------*/

@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

/* -------Media queries Mobile devices ----------*/

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header__content {
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        height: 100%;
    }

    .header__left,
    .header__right {
        width: 100%;

        img {
            position: absolute;
            bottom: 0;
        }
    }



    .header__socials,
    .scroll__down {
        display: none;
    }

    .header__link {
        margin-bottom: 2rem;
    }
}