@import '../../scss/variables';

.testimonials {
    width: 40%;
    position: relative;

    .testimonials__wrap {
        background: $color-bg-variant;
        text-align: center;
        padding: 2rem;
        border-radius: 2rem;
        user-select: none;

        h5 {
            color: $color-white;
        }

        .testimonials__avatar {
            width: 4rem;
            aspect-ratio: 1/1;
            overflow: hidden;
            border-radius: 50%;
            margin: 0 auto 1rem;
            border: 2px solid $color-primary;
        }

        .testimonials__review {
            color: $color-light;
            font-weight: 300;
            display: block;
            margin: 1.8rem auto;
            width: 80%;
        }
    }

    .btnSlider {
        font-size: 25px;
        font-weight: 900;
        color: $color-white;
        margin: .5rem;
        position: absolute;

        :hover {
            color: $color-light;
        }
    }

    .prev {
        top: 40%;
        left: -3rem;
    }

    .next {
        top: 40%;
        right: -3rem;
    }
}

.slider {
    height: auto;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background: $color-bg-variant;
}


@media screen and (max-width: 1024px) {
    .testimonials {
        width: 60%;
    }


}

@media screen and (max-width: 600px) {
    .testimonials {
        width: $container-width-sm;
    }
}