@use '../scss/variables';

$color-bg: #11470f;
$color-bg-variant: #0b7c07;
$color-primary: #6af533;
$color-white: #fff;
$color-light: rgba(255, 255, 255, 0.6);

$transition: all 400ms ease;

$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;