@import '../../scss/variables';

.contacts {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;

    .contact__options {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        svg {
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }

        .options-item {
            background: $color-bg-variant;
            padding: 1.2rem;
            border-radius: 1.2rem;
            text-align: center;
            border: 1px solid transparent;
            transition: $transition;

            &:hover {
                background: transparent;
                border-color: $color-primary;
            }

            a {
                font-size: .8rem;
            }
        }
    }

    .contact-form {
        label {
            margin-bottom: -0.8rem;
        }

        display: flex;
        flex-direction: column;
        gap: 1rem;

        input,
        textarea {
            width: 100%;
            padding: 1rem;
            border-radius: .5rem;
            background: transparent;
            border: 2px solid $color-primary;
            resize: none;
            color: $color-white;
        }
    }

    .error {
        color: #f36262;
        font-size: 0.7rem;
        margin-top: -0.7rem;
    }
}

@media screen and (max-width: 1024px) {
    .contacts {
        grid-template-columns: 30% 63%;
        gap: 6%;
    }
}

@media screen and (max-width: 600px) {
    .contacts {
        grid-template-columns: 1fr;
    }
}